#menu{
    position: fixed;
    float: left;
    width: 100%;
    padding: 0px;
    border: solid 2px #CBCBCB;
    margin: 0px;
    background-color: whitesmoke;
}
.contents{
    float: left;
    margin: auto;
    padding: 0px;
    width: 70%;
}
