<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div id="menu">
    <ul class="nav nav-tabs">
      <li class="nav-item" [class.active]="menuOption == 'home'" (click)="menuOption = 'home'">
        <a class="nav-link" href="#">Home</a></li>
      <li class="nav-item" [class.active]="menuOption == 'projetos'" (click)="menuOption = 'projetos'">
        <a class="nav-link" href="#">Projetos</a></li>
      <li class="nav-item" [class.active]="menuOption == 'blog'" (click)="menuOption = 'blog'">
        <a class="nav-link" href="#">Blog</a></li>
    </ul>
  </div>
  <br><br>
  <div class="contents">
    <app-home [hidden]="!(menuOption == 'home')"></app-home>
  </div>
</div>