#menu{
    position: fixed;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(36, 36, 36);
}
.nav-tabs li.active a{
    background-color: #939393;
}
.nav li a{
    color: white;
}