#menu{
    position: fixed;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #00645F
}
.nav-tabs li.active a{
    background-color: #DAA520;
}
.nav li a{
    color: white;
}