<div id="corpo">
  <div class="page-header">
    <h1>Vinicius de Santana<br><small>Developer</small></h1>
  </div>
  <div id="conjlinks">
    <a href="{{links.linkedin}}">
      <img class="imglinks" src="../../assets/Linkedin.png" alt="Acesse meu perfil no Linkedin">
    </a>
    <a href="{{links.github}}">
      <img class="imglinks" src="../../assets/github.png" alt="Acesse meu repositório no github">
    </a>
    <a href="{{links.facebook}}">
      <img class="imglinks" src="../../assets/fb.png" alt="Acesse meu perfil no facebook">
    </a>
    <a href="{{links.email}}">
      <img class="imglinks" src="../../assets/email.png" alt="Mande um email">
    </a>
</div>